.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
}

.container {
  display: grid;
  grid-template-columns: 4rem 4rem 4rem 4rem;
  grid-gap: 0.5rem;
  grid-auto-flow: row;
}

.box {
  height: 4rem;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: "white";
}
